{% load i18n %}
<!DOCTYPE html>
<html data-theme="black">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        {% block extra_head %}
        {% endblock extra_head %}

        {% include 'polls/layouts/tailwind.html' %}
    </head>
    <body>
        {% include 'polls/elements/navbar.html' %}
        {% block body %}
        <main class="container mx-auto px-4">
            <div class="text-sm breadcrumbs">
              <ul>
                <li><a>Home</a></li> 
                <li><a>Documents</a></li> 
                <li>Add Document</li>
              </ul>
            </div>
            {% block content %}
            {% endblock content %}
        </main>
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
