{% extends "polls/layouts/base.html" %}

{% block content %}
<form class="max-w-96 w-full mx-auto" action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
    <h2 class="text-4xl">{{ question.question_text }}</h2>
    <div class="bg-primary my-8 p-4 rounded-md">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <div class="form-control">
          <label for="choice{{ forloop.counter }}" class="label cursor-pointer">
                <span class="label-text">{{ choice.choice_text }}</span> 
                <input 
                    type="radio" 
                    name="choice" 
                    id="choice{{forloop.counter}}"
                    value="{{choice.id}}"
                    class="radio checked:bg-red-500" 
                />
          </label>
        </div>
    {% endfor %}

    </div>

    <div class="flex justify-center">
        <button class="btn btn-outline" type="submit">Vote</button>
    </div>

</form>
{% endblock %}
