{% extends "polls/layouts/base.html" %}
{% load component_tags %}

{% block content %}

<div class="overflow-x-auto">
    <h1 class="text-bold text-2xl">Polls</h1>
    <div class="flex justify-center">
        {% component "stats" stats=stats %}{% endcomponent %}
    </div>
    {% if latest_question_list %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Is Published</th>
            </tr>
        </thead>
        <tbody>
            {% for question in latest_question_list %}
            <tr class="hover" href="{% url 'polls:detail' question.id %}">
                <td>
                    <a class="link" href="{% url 'polls:detail' question.id %}">
                        {{question.id}}
                    </a>
                </td>
                <td>
                    <a class="link" href="{% url 'polls:detail' question.id %}">
                        {{question.question_text}}
                    </a>
                </td>
                <td>{{question.published}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="flex justify-center join my-4 gap-1">
        {% if page_obj.has_previous %}
        <a class="join-item btn" href="?page={{ page_obj.previous_page_number }}">«</a>
        {% endif %}
        <a class="join-item btn">Page {{ page_obj.number }}</a>
        {% if page_obj.has_next %}
        <a class="join-item btn" href="?page={{ page_obj.next_page_number }}">»</a>
        {% endif %}
    </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>

    {% endblock %}
